<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <style>
    body {
      min-width: 250px;
      padding-top: 15px;
      padding-bottom: 15px;
    }
  </style>
  <body>
    <div class="container">
      <p class="rounded-sm border border-primary text-center bg-light">
        medium-rare
      </p>
      <div class="card">
        <div class="card-body">
          <div class="custom-control custom-switch">
            <input
              type="checkbox"
              class="custom-control-input"
              id="statusToggle"
            />
            <label class="custom-control-label" for="statusToggle"
              >enable service</label
            >
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="popup.js"></script>
</html>
